= form_for @service do |s|
  - if flash[:error]
    .alert.alert-danger
      = error
  .form-group
    .input-group
      %span.input-group-addon
        %i.fa.fa-tag
      = s.text_field :name, placeholder: 'Service name', class: 'form-control'
  .form-group
    .input-group
      %span.input-group-addon
        %i.fa.fa-money
      = s.number_field :price, placeholder: 'Price', class: 'form-control'
      %span.input-group-addon .00
  .form-group
    %p.lead Add cover for service
    .row
      .col-md-12
        .form-group
          = s.file_field :cover, class: 'form-control'
          = s.hidden_field :cover_cache
  .form-group
    = s.submit 'Done', class: 'btn btn-block btn-primary btn-border'
