.container
  .row.padder-v-lg
    .col-xs-6.col-xs-offset-3
      %h4.text-center.padder-v-lg New Service
      = form_for @service do |s|
        - if flash[:error]
          .alert.alert-danger
            = error
        .form-group
          .input-group
            %span.input-group-addon
              %i.fa.fa-tag
            = s.text_field :name, placeholder: 'Service name', class: 'form-control'
        .form-group
          .input-group
            %span.input-group-addon
              %i.fa.fa-money
            = s.text_field :price, placeholder: 'Price', class: 'form-control'
            %span.input-group-addon .00
        .form-group
          = s.submit 'Done', class: 'btn btn-block btn-success btn-border'