.container
  - if admin_signed_in?
    .row.m-t-xl
      .col-lg-2.col-md-2
        %a.btn.btn-block.btn-success.btn-border{href: new_service_path}
          %i.fa.fa-plus
          Add service
      .col-lg-2.col-md-2
        %a.btn.btn-block.btn-success.btn-border{href: new_appointment_path}
          %i.fa.fa-plus
          Add appointment
      .col-lg-2.col-md-2
        %a.btn.btn-block.btn-success.btn-border{href: appointments_path}
          appointments
  .row.m-t-xl
    - @services.each do |s|
      .col-sm-2.col-md-2.col-lg-2
        .service.wrapper-sm
          %p 
            %h4 Name: #{s.name}
          %p
            %h4 Price: #{s.price}$
          .btn-group.btn-group-justified
            = link_to 'edit', edit_service_path(s), class: 'btn btn-success '
            = link_to 'view', s, class: 'btn btn-success'
          = link_to(fa_icon('trash'), service_path(s), method: :delete)