.row
  .col-md-12
    %h2.page-header Services
  - @services.each do |s|
    .col-sm-2.col-md-2.col-lg-2
      .service.wrapper-sm
        .col-xs-1.col-xs-offset-10
          .btn-group
            = link_to(fa_icon('trash'), service_path(s), method: :delete)
        %p 
          %h4 Name: #{s.name}
        %p
          %h4 Price: #{s.price}$
        .btn-group.btn-group-justified
          = link_to 'edit', edit_service_path(s), class: 'btn btn-success '
          = link_to 'view', s, class: 'btn btn-success'