.row
  .col-md-12
    %h2.page-header.text-muted Services
  - @services.each do |s|
    .col-sm-3.col-md-2
      .service
        .service-top
          .row
            .col-sm-6
              %h4 #{s.name}
            .col-sm-6
              %h4 #{s.price} ₴
        .service-cover{style: "background-image: url('#{s.cover}')" }
        .service-bottom
          = link_to 'edit', edit_service_path(s), class: 'btn btn-block btn-service btn-danger'
          = link_to fa_icon('trash'), service_path(s), method: :delete, class: 'btn btn-block btn-service btn-danger'
