%section.wrapper-sm.bg-t
  .row.padder-v.t-content
    .col-sm-5.col-sm-offset-1.text-center
      %h2 Ready to organize your own business?
      %p click 'Get started'
      = link_to 'Get Started', new_admin_session_path, class: 'btn btn-lg btn-success'
    .col-sm-5
      = image_tag 'main.png', class: 'img-main'
%section.wrapper-sm.bg-m
  .row.padder-v.text-center
    .col-sm-4.col-sm-offset-2
      = image_tag 'service.gif', class: 'img-m-c'
    .col-sm-4
      %h3.lead Add your own service!
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non num
  .row.text-center.padder-v
    .col-sm-4.col-sm-offset-1
      %h3.lead Create appointments!
      ystem, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain som
    .col-sm-4
      = image_tag 'appoint.png', class: 'img-m-c'
  .row.text-center.padder-v
    .col-sm-4.col-sm-offset-2
      = image_tag 'customers.png', class: 'img-m-c'
    .col-sm-4
      %h3.lead Add customers!
      excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates re
  .row.text-center.padder-v
    .col-sm-4.col-sm-offset-1
      %h3.lead Control your business income!
      n the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated
    .col-sm-5
      = image_tag 'money.png', class: 'img-m-c'
%section.wrapper-sm.bg-f
  .row.padder-v
    .col-sm-4.wrapper
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      %h5 Pedro Yakubiv, Founder
    .col-sm-4
      %h4 Manageside
    .col-sm-4
      %h4 Contacts
  .row.text-center
    .col-sm-12
      %p manageside.com 2014. All rights reserved.
