= fields_for :customer do |c|
  .form-group.bg-lt.wrapper
    .row
      .col-md-6
        .form-group
          = c.label :first_name, 'First Name'
          = c.text_field :first_name, class: 'form-control'
      .col-md-6
        .form-group
          = c.label :last_name, 'Last Name'
          = c.text_field :last_name, class: 'form-control'
    .row
      .col-md-12
        .form-group
          = c.label :phone, 'Phone'
          = c.telephone_field :phone, class: 'form-control'
  .row
    .col-md-12
      .form-group
        = c.submit 'Done', class: 'btn btn-block btn-success btn-border'