.new-customer-form
  = form_for @customer do |c|
    .form-group.bg-lt.wrapper
      .row
        .col-sm-6
          .form-group
            = image_tag 'user_photo.jpg',class: 'media-object'
        .col-sm-6
          .form-group
            = c.label :bio, 'Notes'
            = c.text_area :bio, class: 'form-control', rows: 8
      .row
        .col-sm-6
          .form-group
            = c.label :avatar
            = c.file_field :avatar, class: 'form-control'
      .row
        .col-sm-6
          .form-group
            = c.label :first_name
            = c.text_field :first_name, class: 'form-control'
        .col-sm-6
          .form-group
            = c.label :last_name
            = c.text_field :last_name, class: 'form-control'
      .row
        .col-sm-6
          .form-group
            = c.label :phone
            = c.telephone_field :phone, class: 'form-control'
        .col-sm-6
          .form-group
            = c.label :email
            = c.email_field :email, class: 'form-control'
      .row
        .col-md-12
          .form-group
            = c.submit 'Done', class: 'btn btn-block btn-success btn-border'
