= a.fields_for :customer do |c|
  .form-group.bg-lt.wrapper
    .row
      .col-xs-6
        .form-group
          = a.collection_select(:customer_id, Customer.all, :id, :last_name,  :include_blank => "Please select")
  %h4 Create new customer
  .form-group.bg-lt.wrapper
    .row
      .col-xs-6
        .form-group
          = c.text_field :first_name, class: 'form-control', placeholder: 'Enter first name'
      .col-xs-6
        .form-group
          = c.text_field :last_name, class: 'form-control', placeholder: 'Enter last name'
    .row
      .col-xs-12
        .form-group
          = c.text_field :phone, class: 'form-control', placeholder: 'Phone'