.row.m-t.xl
  .col-md-12
    %h2.text-center Customer history
    .row.m-t-lg
      .col-md-3
        .user-info
          .info-t
            %h3.wrapper-sm.text-center CUSTOMER
          .info-c
            %p #{@customer.first_name} #{@customer.last_name}
            %p= @customer.phone
            %p= @customer.email
            %hr
            .notes
              %span{style: 'font-style: italic;'} Notes:
              %p= @customer.bio
      .col-md-9
        %h3.text-center Apopintments
        .row.m-t-lg.text-center
          .col-md-4
            %p.lead Pending
            .row.m-t-lg
              - @customer.appointments.each do |app|
                -if app.pending?
                  %p
                    = link_to app.date.try(:strftime, "%B %d at %I:%M %p"), app
          .col-md-4
            %p.lead Completed
            .row.m-t-lg
              - @customer.appointments.each do |app|
                -if app.completed?
                  %p
                    = link_to app.date.try(:strftime, "%B %d at %I:%M %p"), app.order
          .col-md-4
            %p.lead Cenceled
            .row.m-t-lg
              - @customer.appointments.each do |app|
                -if app.canceled?
                  %p
                    = link_to app.date.try(:strftime, "%B %d at %I:%M %p"), app
