.row.m-t.xl
  .col-md-10.col-md-offset-1
    %h2.text-center Customer history
    .row
      .col-md-9
        %h3.text-center Apopintments
        .activity
          - @customer.appointments.each do |app| 
            .row.m-t-lg
              .col-md-4.col-md-offset-3
                %i.fa.fa-tags
                %span
                  = time_ago_in_words(app.created_at) + ' ago'
            .row.m-t-sm
              .col-md-6.col-md-offset-4
                .action    
                  %h5.text-center
                    = link_to app.date.try(:strftime, "%B %d at %I:%M %p"), app
      .col-md-3
        %h3.text-center Info
        %h4 First name: #{@customer.first_name}
        %h4 Last name: #{@customer.last_name}
        %h4 Phone: #{@customer.phone}