= form_for([@appointment, @appointment.build_order]) do |order|
  = order.hidden_field :appointment_id, value: @appointment.id
  = order.hidden_field :customer_id, value: @appointment.customer.id
  .status
    .form-group
      .col-sm-6
        = order.label :tips, 'Tips'
        = order.number_field :tips, class: 'form-control'
        .form-group
          = order.label :note, 'Note'
          = order.text_area :note, class: 'form-control'
    .form-group
      .col-sm-6
        .form-group
          .row
            .col-sm-12
              %h4 Services
          .row
            .col-sm-12
              - Service.all.each do |service|
                .row
                  .col-sm-12.check-box
                    %label.item
                      = check_box_tag 'order[service_ids][]', service.id, @appointment.service_ids.include?(service.id)
                      = service.name +  '  -  ' 
                      = service.price 
                      ₴
    .form-group
      = order.submit 'Track order', class: 'btn btn-block btn-default'