.row.m-t-lg
  .col-md-12
    %h2.page-header All orders
.row
  .col-md-12
    .btn-group.btn-group-justified
      = render 'appointments/links'
.row.m-t-lg
  - @orders.each do |a|
    .col-md-3
      .order
        .appointment-cover
          %h4.text-center.padder-t-sm #{link_to "#{a.customer.first_name} #{a.customer.last_name}", a.customer, class: 'btn'}
        .appointment-content
          %h4.text-center Services
          - a.services.each do |s|
            %span.lead
              = s.name + ' | '
          %hr
        .appointment-info
          %h5.text-center #{link_to "Appointment's date is #{a.appointment.date.try(:strftime, "%B %d at %I:%M %p")}", a}
          %hr
        .wrapper-sm
          .row
            .col-sm-3
              %h4 Tips: 
            .col-sm-9
              %h4 #{a.tips} ₴
          .row
            .col-sm-3
              %p{style: 'font-size: 18px;'} Note:
            .col-sm-9
              %p{style: 'font-size: 16px;'}
                = a.note
        .order-bottom
          - if a.receipt.nil?
            = form_for([a, a.build_receipt]) do |receipt|
              = receipt.hidden_field :order_id, value: a.id
              = receipt.hidden_field :total_cash, value: a.services.sum(:price)
              = receipt.hidden_field :total_services, value: a.services.count
              = receipt.submit 'Get receipt', class: 'btn btn-info btn-block'
          - else
            = link_to 'View receipt', order_receipt_path(a, a.receipt), class: 'btn btn-info btn-block'


.row.m-t-lg
  = will_paginate @orders