.row
  .col-md-6.col-md-offset-3
    %h3.text-center.padder-v New appointment
    = form_for @appointment do |a|
      .form-group
        #radio_button
          %p
            = a.radio_button :is_new_customer, 'false', checked: true
            = a.label :is_new_customer_false, 'Existing customer'
          %p
            = a.radio_button :is_new_customer, 'true'
            = a.label :is_new_customer_true, 'New customer'
      .form-group
        .customer
          .new_customer
            = render 'customers/form', a: a
        .old_customer
          = a.collection_select(:customer_id, Customer.all, :id, :last_name,  include_blank: 'Please select')
      .form-group.wrapper.text-center
        .row
          .col-md-12
            %h4 Services
        .row
          .col-md-12
            - Service.all.each do |service|
              = check_box_tag 'appointment[service_ids][]', service.id, @appointment.services.include?(service.id)
              = service.name
      .form-group
        = a.label :date, 'Set appointment date'
        .input-group#datetimepicker1
          = a.text_field :date, class: 'form-control', data: { date_format: 'DD/MM/YYYY hh:mm A' }
          %span.input-group-addon
            %i.fa.fa-calendar
      .form-group
        = a.submit 'done', class: 'btn btn-success btn-block'

      = debug @appointment.errors.full_messages
      = params.inspect