.row
  .col-md-10.col-md-offset-1
    %h3.page-header.padder-v New appointment
    = form_for @appointment do |a|
      .form-group
        #radio_button
          %p
            #false
              = a.radio_button :is_new_customer, false, checked: true
              = a.label :is_new_customer_false, 'Existing customer'
          %p
            #true
              = a.radio_button :is_new_customer, true
              = a.label :is_new_customer_true, 'New customer'
      .form-group
        .customer
          .new_customer
            = a.fields_for :customer do |c|
              .form-group.bg-lt.wrapper
                .row
                  .col-xs-6
                    .form-group
                      = c.label :first_name, 'First Name'
                      = c.text_field :first_name, class: 'form-control'
                  .col-xs-6
                    .form-group
                      = c.label :last_name, 'Last Name'
                      = c.text_field :last_name, class: 'form-control'
                .row
                  .col-xs-12
                    .form-group
                      = c.label :phone, 'Phone'
                      = c.telephone_field :phone, class: 'form-control'
        .old_customer
          = a.collection_select(:customer_id, Customer.all, :id, :last_name,  include_blank: 'Please select')
      .form-group
        .row
          .col-md-12
            %h4 Services
        .row
          .col-md-12.check-box
            - Service.all.each do |service|
              %label.item
                = check_box_tag 'appointment[service_ids][]', service.id, @appointment.services.include?(service.id)
                = service.name
      .form-group
        = a.label :date, 'Set appointment date'
        .input-group#datetimepicker1
          = a.text_field :date, class: 'form-control', data: { date_format: 'DD/MM/YYYY hh:mm A' }
          %span.input-group-addon
            %i.fa.fa-calendar
      .form-group
        = a.submit 'done', class: 'btn btn-success btn-block btn-border'
      = debug @appointment.errors.full_messages
