.row.m-t-lg
  .col-xs-12.col-sm-12.col-md-4.col-md-offset-4
    %h3.header-title
      %i.fa.fa-calendar.fa-2x.m-r-sm
      create an APPOINTMENT
    .new-appointment
      = form_for @appointment do |a|
        .row.m-t-lg
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            #radio_button
              %label
                #false
                  = a.radio_button :is_new_customer, false, checked: true
                  = a.label :is_new_customer_false, 'Existing customer'
                #true
                  = a.radio_button :is_new_customer, true
                  = a.label :is_new_customer_true, 'New customer'
        .row
          .col-sm-12
            .old_customer
              = a.collection_select :customer_id, Customer.all, :id, :name, {include_blank: 'Select customer'}, {class: 'form-control'}
        .row
          .col-sm-12
            .customer
              .first_time
                = a.fields_for :customer do |c|
                  .form-group.bg-lt.wrapper
                    .row
                      .col-xs-12
                        .form-group
                          = c.label :avatar
                          = c.file_field :avatar, class: 'form-control'
                    .row
                      .col-xs-12
                        .form-group
                          = c.label :first_name
                          = c.text_field :first_name, class: 'form-control'
                    .row
                      .col-xs-12
                        .form-group
                          = c.label :last_name
                          = c.text_field :last_name, class: 'form-control'
                    .row
                      .col-xs-12
                        .form-group
                          = c.label :phone
                          = c.telephone_field :phone, class: 'form-control'
                    .row
                      .col-xs-12
                        .form-group
                          = c.label :email
                          = c.email_field :email, class: 'form-control'
          .col-sm-12
            %h4 Services
            - Service.all.each do |service|
              .col-sm-12.check-box
                %label.item
                  = check_box_tag 'appointment[service_ids][]', service.id, @appointment.services.include?(service.id)
                  = service.name
          .col-sm-12
            .form-group
              = a.label :date, 'Set appointment date'
              .input-group#datetimepicker1
                = a.text_field :date, class: 'form-control', data: { date_format: 'DD/MM/YYYY hh:mm A' }
                %span.input-group-addon
                  %i.fa.fa-calendar
          .col-sm-12
            .form-group
              = a.submit 'done', class: 'btn btn-primary btn-block btn-border'
