.header-tabs
  %ul
    %li= link_to fa_icon('spinner') + ' pending', appointments_path, class: "#{'active' if controller_name == 'appointments' && params[:action] == 'index'}"
    %li= link_to fa_icon('check-circle')+' orders', orders_path, class: "#{'active' if controller_name == 'orders'}"
    %li= link_to fa_icon('times-circle')+' canceled', canceled_appointments_path, class: "#{'active' if params[:action] == 'canceled'}"
