.row.m-t-lg
  .col-md-12
    %h2.page-header #{@header} appointments
.row
  .col-md-12
    .btn-group.btn-group-justified
      = link_to 'orders', orders_path, class: "btn btn-default #{'active' if params[:action] == 'completed'}"
      = link_to 'canceled', canceled_appointments_path, class: "btn btn-default #{'active' if params[:action] == 'canceled'}"
.row.m-t-lg
  - @appointments.each do |a|
    .col-md-3
      .appointment
        .appointment-cover
          %h4.text-center.padder-t-sm #{link_to "#{a.customer.first_name} #{a.customer.last_name}", a.customer, class: 'btn'}
        .appointment-content
          %h4.text-center Services
          - a.services.each do |s|
            %span.lead
              = s.name + ' | '
          %hr
        .appointment-info
          %h5.text-center #{link_to "Appointment's date is #{a.date.try(:strftime, "%B %d at %I:%M %p")}", a}
          %hr
        .row.wrapper
          .col-xs-1
            = link_to(fa_icon('edit'), edit_appointment_path(a))
          .col-xs-1.col-xs-offset-9
            = link_to(fa_icon('trash'), appointment_path(a), method: :delete)
.row.m-t-lg
  = will_paginate @appointments