.row.m-t-lg
  .col-xs-12.col-sm-12.col-md-12
    = render 'links'
.row.m-t-xl
  - if @appointments.present?
    - @appointments.each do |a|
      .col-xs-12.col-sm-6.col-md-3
        .appointment
          .appointment-cover
            .app-date
              = link_to "#{a.date.try(:strftime, "%B %d at %I:%M %p")}", a, class: 'btn'
            .app-delete
              = link_to appointment_path(a), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn' do
                %i.fa.fa-close.fa-2x
          .appointment-content
            .avatar.text-center
              - if a.customer.avatar.present?
                = image_tag a.customer.avatar, class: 'img-circle'
              - else
                = image_tag 'user_photo.jpg', class: 'img-circle'
            %h4.text-center= link_to "#{a.customer.first_name} #{a.customer.last_name}", a.customer
            %h5.text-center + #{a.customer.phone}
            %hr
            - a.services.each do |s|
              %span.app-service
                = s.name
          .m-b-xl
            = link_to edit_appointment_path(a), class: 'btn btn-edit' do
              edit

  - else
    %h3.text-center.text-muted
      No found #{@header} appointments! :(
.row.m-t-lg
  = will_paginate @appointments
