.wrapper
  .row.m.t.xl
    .col-lg-12
      %h2.text-center Appointments
  .row.m.t.lg
    - @appointments.each do |a|
      .col-md-3
        .appointment
          .appointment-cover
            %h4.text-center.padder-t-sm #{link_to "#{a.customer.first_name} #{a.customer.last_name}", a.customer, class: 'btn'}
          .appointment-content
            %h4.text-center Services
            - a.services.each do |s|
              %span.lead
                = s.name + ' | '
            %hr
          .appointment-info
            %h5.text-center #{link_to "Appointment's date is #{a.date.try(:strftime, "%B %d at %I:%M %p")}", a}
            %hr
          .row
            .col-xs-1.wrapper
              = link_to(fa_icon('edit'), edit_appointment_path(a))
            .col-xs-1.col-xs-offset-8.wrapper
              = link_to(fa_icon('trash'), appointment_path(a), method: :delete)