.row.m-t-xl
  .col-md-10.col-md-offset-1
    %h3.text-center Appointment's date is #{@appointment.date.try(:strftime, "%B %d at %I:%M %p")}

.row.m-t-xl
  .col-md-3
    .people
      .user
        .row
          %h4.text-center First name: #{@appointment.customer.first_name}
        .row
          %h4.text-center Last name: #{@appointment.customer.last_name}
        .row
          %h5.text-center Phone:
        .row
          .text-center
            = @appointment.customer.phone
        .row
          .link-box
            .btn-group.btn-group-justified.wrapper-sm
              = link_to 'show', @appointment.customer, class: 'btn btn-success'
              = link_to 'edit', edit_customer_path(@appointment.customer), class: 'btn btn-primary'

      - if @appointment.pending? && @appointment.order.nil?
        .row.wrapper-sm
          %p.lead.text-center Do you want to cancel it?
          = form_for @appointment do |a|
            #radio-cancel
              = a.radio_button :status, 'canceled', checked: true
            %p
              = a.submit 'CANCEL', confirm: 'Are you sure?', class: 'btn btn-block btn-default'
        - if @appointment.order.nil?
          .row.wrapper-sm
            %p.lead.text-center Track order
            .status
              = render 'orders/form'

      - if @appointment.canceled?
        %p.lead.text-center Again add to pending?
        = form_for @appointment do |a|
          #radio-cancel
            = a.radio_button :status, 'pending', checked: true
          %p
            = a.submit 'pending', confirm: 'Are you sure?', class: 'btn btn-block btn-default'
  
  .col-md-9
    - @appointment.services.each do |s|
      .col-sm-3.col-md-3
        .service
          .service-cover{style: "background-image: url('#{s.cover}')" }
            .cover-overlay
              %div.bg-t
                .col-xs-1{style: 'z-index: 9999;'}
                  = link_to(fa_icon('edit'), edit_service_path(s))
                .col-xs-1.col-xs-offset-7
                  = link_to(fa_icon('trash'), service_path(s), method: :delete)
              .wrapper-sm
                %h4 Name: #{s.name}
                %h4 Price: #{s.price}₴
            .service-bottom
              = link_to 'view', s, class: 'btn btn-block btn-info btn-service'