.row.m-t-xl
  .col-sm-12
    %p.lead.page-header Appointment's date is #{@appointment.date.try(:strftime, "%B %d at %I:%M %p")}

.row.m-t-xl
  .col-sm-3.wrapper-sm  
    %p.lead Customer
    .people
      .user
        .row
          %h4.text-center First name: #{@appointment.customer.first_name}
        .row
          %h4.text-center Last name: #{@appointment.customer.last_name}
        .row
          %h5.text-center Phone:
        .row
          .text-center
            = @appointment.customer.phone
        .row
          .link-box
            .btn-group.btn-group-justified.wrapper-sm
              = link_to 'show', @appointment.customer, class: 'btn btn-success'
              = link_to 'edit', edit_customer_path(@appointment.customer), class: 'btn btn-primary'
    .row.wrapper
      - if @appointment.pending? && @appointment.order.nil?
        .row.wrapper-sm
          %p.lead.text-center Do you want to cancel it?
          = form_for @appointment do |a|
            #radio-cancel
              = a.radio_button :status, 'canceled', checked: true
            %p
              = a.submit 'CANCEL', confirm: 'Are you sure?', class: 'btn btn-block btn-default'
      - if @appointment.canceled?
        %p.lead.text-center Again add to pending?
        = form_for @appointment do |a|
          #radio-cancel
            = a.radio_button :status, 'pending', checked: true
          %p
            = a.submit 'pending', confirm: 'Are you sure?', class: 'btn btn-block btn-default'
  
  .col-sm-6.col-sm-offset-1
    - if @appointment.order.nil? && @appointment.pending?
      .row.wrapper-sm
        %p.lead Track order
        = render 'orders/form'

