!!!
%html
  %head
    %title Lynda
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top.navbar-op
      .container-fluid
        %button.navbar-toggle{"data-target" => ".sidebar-nav", "data-toggle" => "offcanvas", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = render 'layouts/navbar'
    .container-fluid
      .row.row-offcanvas.row-offcanvas-left
        - if admin_signed_in?
          .col-xs-12.col-sm-3.col-md-2.m-t-xl
            #sidebar.list-group.sidebar.sidebar-offcanvas
              = render 'layouts/linklist'
        .col-xs-12.col-sm-9.col-md-10.m-t-xl
          = yield
